[submodule "engine/3rdparty/spdlog"]
	path = engine/3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "engine/3rdparty/imgui"]
	path = engine/3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "engine/3rdparty/nlohmann_json"]
	path = engine/3rdparty/nlohmann_json
	url = https://github.com/nlohmann/json.git
	branch = "release/3.11.2"
[submodule "engine/3rdparty/entt"]
	path = engine/3rdparty/entt
	url = https://github.com/skypjack/entt.git
	branch = v3.14.0
[submodule "engine/3rdparty/stb"]
	path = engine/3rdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "engine/3rdparty/imgui_plugins/ImGuiFileDialog"]
	path = engine/3rdparty/imgui_plugins/ImGuiFileDialog
	url = https://github.com/APassbyDreg/ImGuiFileDialog.git
	branch = Lib_Only
[submodule "engine/3rdparty/vk-bootstrap"]
	path = engine/3rdparty/vk-bootstrap
	url = https://github.com/APassbyDreg/vk-bootstrap.git
[submodule "engine/3rdparty/imgui_plugins/ImGuizmo"]
	path = engine/3rdparty/imgui_plugins/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
	branch = 1.83